.fade {
  -moz-animation-name: fade;
  -moz-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  left: 225px;
  text-align: center;
  display:block;
  text-decoration: bold;
  width: 900px;
  margin-right: auto;
  margin-left:auto;

}

