@import "http://fonts.googleapis.com/css?family=Roboto";
.intro{
	display: hidden;
	background: -moz-linear-gradient(left,white,lightgray);

}



.menu{
	box-shadow: 0px 8px 15px black;
    background-color: DarkSlateGray;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: -50px;
    left: 0;
    z-index: 2;
    padding: 10px;
    transition: top 0.3s;

    
}


#login_page{
    background: -moz-linear-gradient(bottom,lightskyblue,deepskyblue);
    color: black;
    border-radius: 8px;
}

.far{
	margin-left: 350px;
}

.menu a:hover{
  background-color: white;
  color: black;
 
 	
}

.menu a{
	color: red;
	font-family: Roboto;
	font-size: 120%;
	margin-right: 40px;
	color: lightgray;
	text-decoration: none;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
}
body{
	margin: 0px;
}
.header{
	background: -moz-linear-gradient(left,red,yellow);
	border-radius: 0px 0px 20px 20px;
	top: 0;
	width: 100%;
	margin-bottom: 10px;
}
.header img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	
}
.show{
	height:450px; 
	overflow: hidden;
}
.show img{
	height: 450px;
}



.content{
	max-width:50%;
	margin:auto;
}
.mySlides{
	
	display: none;
	transition: top 0.3s;
	border-radius: 25px;


}
.mySlides img{
	opacity: 0.80;
	overflow: hidden;
	margin-bottom: 5px;
	border-radius: 25px;
	border: 1px solid black;
}

.message{
	margin-bottom: 10px;
	font-family: Roboto;
}


#cara{
	height: 50%;

}

.jumbotron icon{
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.jumbotron h3{
	text-align: center;
}



#right{
	float:right;
}
#left{
	float:left;
}
.sell{
	background-color: white;
	width: 45%;
	border-radius: 8px;
	box-shadow: 12px 12px 5px #888888;
	margin-bottom: 25px;

}

.sell:hover {
	box-shadow: 8px 8px 10px #888888;
	transition: box-shadow 0.3s ease-in-out;
}

.sell img{
	position: relative;
	top: -20px;
	left: -16px;
	margin-top: 20px;
	width: 488px;
	height: 275px;
	border-radius: 8px 8px 0px 0px;
}

#wlogin{
	color: #da190b;
}

.mess{
  opacity: 0.9;	
  text-align:center;
  background-color: #da190b;
  width: 15em;
  color: lightgray; 
  border-radius: 10px;
  text-align: center;
  font-family:Roboto;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  font-size: 15px;
}

.cmess{
  font-size: 15px;	
  opacity: 0.9;	
  text-align: center;
  background-color: #4CAF50;
  width: 12em;
  color: lightgray; 
  border-radius: 10px;
  text-align: center;
  font-family:Roboto;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
body{
	/*background: -moz-linear-gradient(left,white,lightgray);*/
	background-color: lightgray;
}


.input input{
	padding:8px;
	display:block;
	border:none;
	border:1px solid #ccc;
	width:50%;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;
	border-bottom: 1px inset black;

}

.forma{
	text-align:center;
	font-family:Roboto;
	font-size: 20px;

}

.forma p{
	margin-right: auto;
	margin-left: auto;
}

.margin-bottom
{
	margin-bottom: 30px;
}

.form{
	
	margin-top: 45px;
	width: 720px;
	border-color: red;
	margin-right: auto;
	margin-left: auto;
}
.high{
	margin-top: 20px;
	width: 720px;
	border-color: red;
	margin-right: auto;
	margin-left: auto;
	font-family: Helvetica;
	font-size: 20px;
	display: block;
	text-align: center;

}
.high p{
	opacity: 0.5;
}
input[type=text]:focus {
    border: 3px solid #555;
}
input[type=password]:focus {
    border: 3px solid #555ut;
}
label {
	opacity: 0.80;
}
#first{
	padding-top: 20px;
}

.contain{padding:0.01em 16px}
.center{text-align:center!important}
.opacity{opacity: 0.60}

fieldset{
	display:none;
}
#first1{
	display:block;
}
.container {display: flex;}
.container > div {flex: 1; }
.yo{ 
text-align: center;
font-size: 25px;
font-family: Helvetica;

}

.footer{
	font-family: Roboto;
	font-size: 20px;
}

footer{
	color: White;
	font-family: Roboto;
	font-size: 20px;
	background: -moz-linear-gradient(top,black,DarkSlateGray);
}
.activeg{
	border-radius: 5px;
	background-color:#4CAF50; 
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.activeo{
	background-color:Orange;
}


.form button{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	font-family: Roboto;
	border-radius: 5px;
	background: -moz-linear-gradient(top,White,gray);
	border:1px solid black;
}

.headermenu{

    background-color:DarkSlateGray;
    overflow: hidden;
    width: 100%;
    top: 0px;
    left: 0;
    padding: 10px;
    
}

fieldset{
	margin-bottom: 100px;
}



.headermenu a:hover{

  background-color: white;
  color: black;
 	
}

.headermenu a{
	font-family: Roboto;
	font-size: 120%;
	margin-right: 40px;
	color: lightgray;
	text-decoration: none;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;

	
	
}
   


.relative{
	opacity: 0.95;
	position: relative;
	margin-bottom: 25px;
}

.absolute{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -10%);
	border-radius: 8px;
}

.absolute button{
	background: -moz-linear-gradient(bottom,Goldenrod,DarkGoldenRod);
	border-radius: 8px;
	font-size: 35px;
	font-family: Roboto;
	border:1px inset Goldenrod;
}     

.position-pic{
	position: relative;
	left: 70px;
}
.position-info{
	position: relative;
	left: -90px;
	top: 150px;
}

.margi-top{
	margin-top: 100px;
}